html{
    background-color: #aaaa;
    text-align: center;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
h1{
    background-color: black;
    padding: 24px;
    margin: 0;
    color: aliceblue;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto{
    border-radius: 200px;
    margin: 24px;
    width: 200px;

}
button{
    background-color: black;
    color: aliceblue;
    margin: 18px;
    padding: 18px;
    border-radius: 15px;
    width: 300px;
    font-size: 20px;
}

footer{
    padding: 30px;
    background-color: black;
    margin-top: 100px;
    color: aliceblue;
}